@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: var(--font-altehaasgrotesk), Arial, Helvetica, sans-serif;
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

@layer base {
	body {
		@apply text-black;
	}

	.button-regular {
		@apply bg-blue px-5 py-3.5 rounded-full;
		@apply text-white font-bold text-[16px] leading-[16px] text-center;
		@apply transition-shadow;
		box-shadow: 0px 0px 7px 0px #ffffffa3 inset;
		&:hover {
			box-shadow: 0px 0px 16px 0px #ffffffcc inset;
		}
	}
	.button-glass {
		@apply bg-white/10 px-5 py-3.5 rounded-full;
		@apply text-white font-bold text-[16px] leading-[16px] text-center;
		@apply transition-shadow;
		@apply border-white border;
		box-shadow: 0px 0px 7px 0px #ffffffa3 inset;
		&:hover {
			box-shadow: 0px 0px 16px 0px #ffffffcc inset;
		}
	}
}
